body {
	background-color: #725ef7;
	text-align: center;
	color: #4555ff;
}

.jumbotron {
	background-color: #9080ff;
}

.container {
	background-color: #9080ff;
}

.panel-info .panel-heading {
	background-color: #9080ff;
}

.bg-success {
	background-color: rebeccapurple;
	color: #7accff;
}